body{
	height: 2200px;
	background: linear-gradient(#fff400, #ffce00, #ffb400); 
	overflow-x: hidden;
	text-align: center;
	font-family: sans-serif;
}

h1{
	color: darkgray;
	text-shadow: 2px 2px #ffb400;
}

p{
	text-align: center;
	color: black;
	text-shadow: 2px 2px white;
}

span{
	text-transform: uppercase;
	text-transform: bold;
}

div{
	text-transform: italic;
	text-shadow: 2px 2px white;
}

footer{
	text-transform: uppercase;
	color: black;
	text-shadow: 2px 2px white;
}